- unless family_member.new_record?
  %tr
    %td= family_member.relationship
    %td= family_member.first_name
    %td= family_member.last_name
    %td= family_member.email
    %td= family_member.phone
    %td
      %address
        = family_member.address1
        %br/
        - if family_member.address2
          = family_member.address2
          %br/
        = "#{family_member.city}, #{family_member.state}  #{family_member.zip_code}"
