%table.table.table-striped.table-hover
  %thead
    %tr
      %th= FamilyMember.human_attribute_name('first_name')
      %th= FamilyMember.human_attribute_name('last_name')
      %th= FamilyMember.human_attribute_name('email')
      %th= FamilyMember.human_attribute_name('phone')
      %th= FamilyMember.human_attribute_name('address1')
  %tbody
    - family_card.family_members.each do |family_member|
      = render 'family_members/family_member_row', family_member: family_member
