- unless family_member.new_record?
  %tr{ id: "family-member-#{family_member.id}-row" }
    %td= family_member.relationship
    %td= family_member.first_name
    %td= family_member.last_name
    %td= family_member.email
    %td= family_member.phone
    %td
      %address
        = family_member.address1
        %br/
        - if family_member.address2
          = family_member.address2
          %br/
        = "#{family_member.city}, #{family_member.state}  #{family_member.zip_code}"
    - if can? :update, family_member
      %td
        %button.btn.btn-mini.btn-info{ :type => 'button', 'data-toggle' => 'collapse', :'data-target' =>"#edit_family_member_#{family_member.id}"}
          = t('family_member.actions.edit', default: 'edit')
  - if can? :update, family_member
    %tr.family-member-edit-form
      %td.row.span12{ colspan: 7 }
        .collapse{ :id => "edit_family_member_#{family_member.id}" }
          %h2= t("family_member.headings.edit", default: 'Edit Family Member')
          = render 'family_members/form', family_member: family_member
