= form_for [@family_card, student], remote: true do |f|
  %div{ id: "student-#{student.new_record? ? '' : "#{student.id}-"}errors" }

  .span5
    .controls.controls-row
      = f.text_field :first_name, placeholder: Student.human_attribute_name('first_name'), class: 'small'
      = f.text_field :last_name, placeholder: Student.human_attribute_name('last_name'), class: 'small'
    .control-group
      = f.label :birthday, class: 'control-label'
      .controls
        = f.date_select :birthday, {start_year: (Date.today.year - Student::BIRTHDAY_YEAR_OFFSET), end_year: Date.today.year, order: [:month, :day, :year]}, {class: 'input-small'}
    .control-group
      = f.label :graduation_year
      .controls
        = f.select :graduation_year, options_for_graduation_year, {class: 'input-small'}
    .control-group
      = f.label :gender
      .controls
        = f.select :gender, [['Male', 'm'], ['Female', 'f']], {}, class: 'input-small'

  %div{ class: student.new_record? ? 'span6' : 'span7' }
    - if student.new_record?
      .controls.controls-row
        = link_to '#', id: 'use_default_parent', class: 'btn btn-mini btn-info' do
          %i.icon-refresh.icon-white
          = t('family_member.same_as_family_card', default: 'Same as family card')
    .controls.controls-row
      = f.text_field :email, placeholder: Student.human_attribute_name('email'), class: 'span3'
      = f.text_field :phone, placeholder: Student.human_attribute_name('phone'), class: 'span3'
    .controls.controls-row
      = f.text_field :address1, placeholder: Student.human_attribute_name('address1'), class: 'span3'
      = f.text_field :address2, placeholder: Student.human_attribute_name('address2'), class: 'span3'
    .controls.controls-row
      = f.text_field :city, placeholder: Student.human_attribute_name('city'), class: 'span3'
      = subregion_select :student, :state, 'US', {}, {class: 'span3'}
    .controls.controls-row
      = f.text_field :zip_code, placeholder: Student.human_attribute_name('zip_code'), class: 'span2'

  .form-actions.clearfix
    = f.submit t("student.actions.#{student.new_record? ? 'create' : 'update'}"), class: 'btn btn-primary'
    - unless student.new_record?
      = link_to t('student.actions.cancel'), "#", class: 'btn btn-warning cancel-and-collapse'
