%table.table.table-striped.table-hover
  %thead
    %tr
      %th
      %th= Student.human_attribute_name('first_name')
      %th= Student.human_attribute_name('last_name')
      %th= Student.human_attribute_name('email')
      %th= Student.human_attribute_name('phone')
      %th= Student.human_attribute_name('address1')
      - if can? :update, Student
        %th
  %tbody
    - family_card.students.each do |student|
      = render 'students/student_row', student: student
