- if call and call.id
  %tr
    %td= call.recorded_at
    %td= call.contact.name
    %td= call.message.html_safe
    %td
      = link_to t('family_card.call.more_details', default: 'more details'), '#', class: 'btn btn-mini btn-info', :'data-toggle' => "modal", :'data-target' => "#call_log_#{call.id}_details"
      = render 'call_logs/details', call: call
