.modal.hide{ :id => "call_log_#{call_log.id}_details" }
  .modal-header
    .label.label-info.pull-right
      %i.icon-time.icon-white
      = call_log.recorded_at
    %h2<
      = CallLog.human_attribute_name('contact_id', :default => 'Spoke to:')
      %i.muted= call_log.contact.name
  .modal-body
    %p= call_log.message.html_safe
    - call_log.qualifiers.each do |qualifier|
      %span.label{ class: "#{bootstrap_class(qualifier.category, type: 'label')}" }= qualifier.name
  .modal-footer
    = link_to t('close', default: 'Close'), '#', class: 'btn btn-primary', :'data-dismiss' => 'modal'
