.modal.hide{ :id => "call_log_#{call.id}_details" }
  .modal-header
    .label.label-info.pull-right
      %i.icon-time.icon-white
      = call.recorded_at
    %h2<
      = CallLog.human_attribute_name('contact_id', :default => 'Spoke to:')
      %i.muted= call.contact.name
  .modal-body
    %p= call.message.html_safe
    - call.qualifiers.each do |qualifier|
      %span.label{ class: "#{bootstrap_class_for_qualifier_type(qualifier.category, element_type: 'label')}" }= qualifier.name
  .modal-footer
    = link_to t('close', default: 'Close'), '#', class: 'btn btn-primary', :'data-dismiss' => 'modal'
