%table.table.table-striped.table-hover
  %thead
    %tr
      %th= t('family_card.student.first_name', default: 'First Name')
      %th= t('family_card.student.last_name', default: 'Last Name')
      %th= t('family_card.student.email', default: 'Email')
      %th= t('family_card.student.phone', default: 'Phone')
      %th= t('family_card.student.address', default: 'Address')
  %tbody
    - family_card.students.each do |student|
      = render 'students/student_row', student: student
