%dl.dl-horizontal.contact.span4
  %dt= t('family_card.parent_first_name')
  %dd= family_card.parent_name
  %dt= t('family_card.student_name')
  %dd= family_card.student_name
  %dt= t('family_card.phone')
  %dd= family_card.phone
  %dt= t('family_card.email')
  %dd= family_card.email
%dl.dl-horizontal.address.span4
  %dt= t('family_card.address')
  %dd
    %address
      = family_card.address1
      %br/
      - if family_card.address2
        = family_card.address2
        %br/
      = "#{family_card.city}, #{family_card.state}  #{family_card.zip_code}"
