.well.prospect-card
  .navbar
    - if current_user.owns?(family_card) or current_user.is?(:admin)
      = link_to_unless_current t('family_card.actions.edit'), edit_family_card_path(family_card), class: 'btn btn-small pull-right'
    %h3= t('family_card.family_info')
  %dl.dl-horizontal.contact.span5
    %dt= t('family_member.parent_name')
    %dd= link_to_unless_current family_card.default_parent, family_card_path(family_card)
    %dt= FamilyCard.human_attribute_name('parent_phone')
    %dd.phone= family_card.parent_phone
    %dt= FamilyCard.human_attribute_name('parent_email')
    %dd.email= family_card.parent_email
  %dl.dl-horizontal.address.span6
    %dt= FamilyCard.human_attribute_name('parent_address')
    %dd
      %address.adr
        %span.street-address= family_card.parent_address1
        %br/
        - if family_card.parent_address2.present?
          %span.extended-address= family_card.parent_address2
          %br/
        %span.locality= family_card.parent_city
        ,
        %span.region= family_card.parent_state
        %span.postal-code= family_card.parent_zip_code

  %ul.nav.nav-tabs.clearfix
    %li.active>
      %a{ href: "#default-student-#{family_card.id}", :'data-toggle' => "tab"}
        = FamilyCard.human_attribute_name('default_student')
    - unless family_card_search_made?
      %li
        %a{ href: '#all-students', :'data-toggle' => 'tab'}
          %i.icon-list
          = t('family_card.all_students', default: 'All students')
      %li
        %a{ href: '#all-family-members', :'data-toggle' => 'tab'}
          %i.icon-list
          = t('family_card.all_family_members', default: 'All family members')
      %li
        %a{ href: '#all-calls', :'data-toggle' => 'tab'}
          %i.icon-bullhorn
          = t('call_log.all_calls', default: 'All Calls')
      - if current_user.owns?(family_card)
        %li
          %a{ href: '#new-student', :'data-toggle' => 'tab'}
            %i.icon-plus
            = t('family_card.add_new_student', default: 'Add student')
      - if current_user.owns?(family_card)
        %li
          %a{ href: '#new-family-member', :'data-toggle' => 'tab'}
            %i.icon-plus
            = t('family_card.add_new_family_member', default: 'Add family member')

  .tab-content
    .tab-pane.active{ id: "default-student-#{family_card.id}" }
      %dl.dl-horizontal.contact
        %dt= t('family_member.student_name')
        %dd= family_card.default_student
    - unless family_card_search_made?
      .tab-pane#all-students
        = render 'students/students_table', family_card: family_card
      .tab-pane#all-family-members
        = render 'family_members/family_members_table', family_card: family_card
      .tab-pane#all-calls
        = render 'call_logs/call_logs_table', family_card: family_card
      .tab-pane#new-student
        = render 'students/form', family_card: family_card, student: @student
      .tab-pane#new-family-member
        = render 'family_members/form', family_card: family_card, family_member: @family_member
