.well.prospect-card
  .navbar
    - if current_user.owns?(family_card)
      = link_to_unless_current t('family_card.edit_file', default: "Edit file"), edit_family_card_path(family_card), class: 'btn btn-small pull-right'
    %h3= t('family_card.family_info')
  %dl.dl-horizontal.contact.span5
    %dt= t('family_card.parent_name')
    %dd= link_to_unless_current family_card.parent_name, family_card_path(family_card)
    %dt= t('family_card.phone')
    %dd= family_card.phone
    %dt= t('family_card.email')
    %dd= family_card.email
  %dl.dl-horizontal.address.span6
    %dt= t('family_card.address')
    %dd
      %address
        = family_card.address1
        %br/
        - if family_card.address2
          = family_card.address2
          %br/
        = "#{family_card.city}, #{family_card.state}  #{family_card.zip_code}"

  %ul.nav.nav-tabs.clearfix
    %li.active>
      %a{ href: "#default-student-#{family_card.id}", :'data-toggle' => "tab"}
        = t('family_card.default_student')
    - unless family_card_search_made?
      %li
        %a{ href: '#all-students', :'data-toggle' => 'tab'}
          %i.icon-list
          = t('family_card.all_students', default: 'All students')
      - if current_user.owns?(family_card)
        %li
          %a{ href: '#new-student', :'data-toggle' => 'tab'}
            %i.icon-plus
            = t('family_card.add_new_student', default: 'Add student')

  .tab-content
    .tab-pane.active{ id: "default-student-#{family_card.id}" }
      %dl.dl-horizontal.contact
        %dt= t('family_card.student_name')
        %dd= family_card.student_name
    - unless family_card_search_made?
      .tab-pane#all-students
        = render 'all_students', family_card: family_card
      .tab-pane#new-student
        = render 'new_student', family_card: family_card, student: @student
