%h2= t("family_card.call.headings.new", default: 'New Call Log')
= form_for [@family_card, @call], remote: true do |f|
  #call-errors

  .span12
    .controls.controls-row
      = f.label :contact_id, "#{t('family_card.call.spoke_to', default: 'Spoke to')}"
      = f.select :contact_id, @family_card.contacts.map{|c| [c.name, c.id, {'data-contact-type'=>c.class.to_s}] }, {:prompt => true}
      = f.hidden_field :contact_type
      .controls
        = f.text_area :message, rows: 10, placeholder: t('family_card.call.message_placeholder', default: 'Enter your message here...'), class: 'input-xxlarge span5'

  .form-actions.clearfix
    = f.submit t('family_card.create_call_log', default: 'Create Call Log'), class: 'btn btn-primary'
