- title "Family Cards"

%table
  %tr
    %th Parent first name
    %th Parent last name
    %th Student name
    %th Phone
    %th Email
    %th Address1
    %th Address2
    %th City
    %th State
    %th Zipcode
    %th Primary parent
  - for family_card in @family_cards
    %tr
      %td= family_card.parent_first_name
      %td= family_card.parent_last_name
      %td= family_card.student_name
      %td= family_card.phone
      %td= family_card.email
      %td= family_card.address1
      %td= family_card.address2
      %td= family_card.city
      %td= family_card.state
      %td= family_card.zipcode
      %td= family_card.primary_parent_id
      %td= link_to 'Show', family_card
      %td= link_to 'Edit', edit_family_card_path(family_card)
      %td= link_to 'Destroy', family_card, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Family Card", new_family_card_path
