.navbar
  - if family_card_search_made?
    = link_to t("create_new_record"), new_family_card_path, class: 'btn pull-right'
  %h1.page-header= t('search.heading')
.clearfix

- if @family_cards.any?
  %h2= "#{t('search.found')}:"
  = render @family_cards
- else
  = form_for :family_card, method: :get, url: search_family_cards_path, html: {class: 'form-horizontal'} do |form|
    .control-group
      = form.label :first_name, t('family_card.parent_first_name'), class: 'control-label'
      .controls
        = form.text_field :first_name, placeholder: t('family_card.parent_first_name_placeholder')
    .control-group
      = form.label :last_name, t('family_card.parent_last_name'),  class: 'control-label'
      .controls
        = form.text_field :last_name, placeholder: t('family_card.parent_last_name_placeholder')
    .control-group
      = form.label :phone, t('family_card.phone'), class: 'control-label'
      .controls
        = form.text_field :phone, placeholder: t('family_card.phone')
    .control-group
      = form.label :email, t('family_card.email'),  class: 'control-label'
      .controls
        = form.text_field :email, placeholder: t('family_card.email')
    .control-group
      = form.label :address1, t('family_card.street_address'),  class: 'control-label'
      .controls
        = form.text_field :address1, placeholder: t('family_card.street_address')
    .control-group
      = form.label :address2, t('family_card.address2'), class: 'control-label'
      .controls
        = form.text_field :address2, placeholder: t('family_card.address2')
    .control-group
      = form.label :zip_code, t('family_card.zip_code'), class: 'control-label'
      .controls
        = form.text_field :zip_code, placeholder: t('family_card.zip_code')

    .form-actions
      = form.submit t("search.search_prospect_records"), class: 'btn btn-primary'

