- title "Family Card"

%p
  %strong Parent First Name:
  = @family_card.parent_first_name
%p
  %strong Parent Last Name:
  = @family_card.parent_last_name
%p
  %strong Student Name:
  = @family_card.student_name
%p
  %strong Phone:
  = @family_card.phone
%p
  %strong Email:
  = @family_card.email
%p
  %strong Address1:
  = @family_card.address1
%p
  %strong Address2:
  = @family_card.address2
%p
  %strong City:
  = @family_card.city
%p
  %strong State:
  = @family_card.state
%p
  %strong Zipcode:
  = @family_card.zipcode
%p
  %strong Primary Parent:
  = @family_card.primary_parent_id

%p
  = link_to "Edit", edit_family_card_path(@family_card)
  |
  = link_to "Destroy", @family_card, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", family_cards_path
