%h2= t('user.sign_in')

= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|

  .control-group
    = f.label :email, class: 'control-label'
    .controls
      = f.email_field :email, placeholder: 'Email'

  .control-group
    = f.label :password, class: 'control-label'
    .controls
      = f.password_field :password, placeholder: 'Password'


  .control-group
    .controls
      %label.checkbox
        = f.check_box :remember_me
        Remember me

  .form-actions
    = f.submit t('user.sign_in'), class: 'btn btn-primary'

= render :partial => "devise/shared/links"
