%h2= t("parent.headings.new", default: 'New Family Member')
= form_for [@family_card, @parent], remote: true do |f|
  #parent-errors

  .span5
    .controls
      = f.select :relationship, Parent.relationships.collect {|relationship| [relationship, relationship]}
    .controls.controls-row
      = f.text_field :first_name, placeholder: Parent.human_attribute_name('first_name'), class: 'small'
      = f.text_field :last_name, placeholder: Parent.human_attribute_name('last_name'), class: 'small'

  .span6
    .controls.controls-row
      = label_tag 'use_default_parent', class: 'checkbox' do
        = check_box_tag 'use_default_parent'
        = t('family_member.same_as_family_card', default: 'Same as family card')
    .controls.controls-row
      = f.text_field :email, placeholder: Parent.human_attribute_name('email'), class: 'span3'
      = f.text_field :phone, placeholder: Parent.human_attribute_name('phone'), class: 'span3'
    .controls.controls-row
      = f.text_field :address1, placeholder: Parent.human_attribute_name('address1'), class: 'span3'
      = f.text_field :address2, placeholder: Parent.human_attribute_name('address2'), class: 'span3'
    .controls.controls-row
      = f.text_field :city, placeholder: Parent.human_attribute_name('city'), class: 'span3'
      = f.text_field :zip_code, placeholder: Parent.human_attribute_name('zip_code'), class: 'span2'

  .form-actions.clearfix
    = f.submit t('parent.actions.create'), class: 'btn btn-primary'
