%table.table.table-striped.table-hover
  %thead
    %tr
      %th= Parent.human_attribute_name('first_name')
      %th= Parent.human_attribute_name('last_name')
      %th= Parent.human_attribute_name('email')
      %th= Parent.human_attribute_name('phone')
      %th= Parent.human_attribute_name('address1')
  %tbody
    - family_card.parents.each do |parent|
      = render 'parents/parent_row', parent: parent
