.pull-right
  = link_to t('user.actions.new'), new_admin_user_path, class: 'btn'

%h1= t('user.actions.index')

%table.table.table-striped
  %tr
    %th= User.human_attribute_name(:name)
    %th= User.human_attribute_name(:email)
    %th= User.human_attribute_name(:roles)
    %th= User.human_attribute_name(:created_at)
    %th{:colspan => 2}= t('actions')

  - @users.each do |user|
    %tr{:id => "user_#{user.id}"}
      %td= user.name
      %td= user.email
      %td= user.roles.join(", ")
      %td= user.created_at
      %td
        = link_to t('user.actions.edit'), edit_admin_user_path(user), class: 'btn btn-mini'
        = link_to t('user.actions.destroy'), [:admin, user], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini'
