%strong.text-success= "Created #{audit.auditable.class.to_s}: "
= link_to url_for(audit.auditable) do
  %strong= "#{audit.auditable.try(:name) || audit.auditable.id}"

- if audit.auditable.try(:associated_audits).present?
  %br
  %strong= t('audit.associated_changes')

  - audit.auditable.associated_audits.each do |associated_audit|
    %table.table
      %caption
        %strong= "Created #{associated_audit.class.to_s}: "
        = link_to url_for(associated_audit.auditable) do
          %strong= "#{associated_audit.try(:name) || associated_audit.id}"
      %thead
        %th= t('audit.changed_attribute')
        %th= t('audit.changed_attribute_to')
      %tbody
        - associated_audit.audited_changes.each do |attribute, value|
          %tr
            %td= associated_audit.auditable_type.constantize.human_attribute_name(attribute.to_s)
            %td= value
