!!! 5
%html
  %head
    %title Bridgeway
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body

  .container
    = render :partial => "shared/flash_messages", :locals => {:flash => flash}
  - if content_for? :sidebar
    .container-fluid
      .row-fluid
        .span2
          = yield :sidebar
        .span10
          = yield
  - else
    .container= yield
