!!! 5
%html
  %head
    %title Bridgeway
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    - if Rails.env.test?
      = javascript_include_tag "test"
    = csrf_meta_tags

  %body
    .container
      = render "shared/flash_messages", :flash => flash
      = render "shared/user_links"
    - if content_for? :sidebar
      .container-fluid
        .row-fluid
          .span2
            = yield :sidebar
          .span10
            = yield
    - else
      .container= yield
